body {
  font-family: 'Roboto Slab', serif;
  text-align: justify;
  font-size: 20px;
}

h2 {
  background-color: #b8b8b8;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 8px;
  border-left: 6px solid grey;
}

blockquote {
  font-size: 28px;
  border-color: gray;
  color: #5f5f5f;
}